@import 'tailwindcss';

.kbd-sm {
  display: inline-flex;
  align-items: center;
  padding: 0.1rem 0.4rem;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;
  color: #4b5563;
  /* gray-600 */
  background-color: #f3f4f6;
  /* gray-100 */
  border: 1px solid #d1d5db;
  /* gray-300 */
  border-radius: 0.25rem;
  /* rounded */
}
